.button {
}

.disabled {
  cursor: auto;

  padding: 4px 15px;

  color: #003980;

  background: #91a1b4;
  border-radius: 4px;
}

.secondary {
  padding: 4px 15px;

  color: #0206f7;

  background: white;
  border-color: #0206f7;
  border-radius: 4px;
  /*cursor: auto;*/
  /*outline: none;*/
}

.default {
  padding: 4px 15px;

  color: white;

  background: #0206f7;
  border-color: #0206f7;
  border-radius: 4px;
}

.red {
  padding: 4px 15px;

  color: white;

  background: #a20303;
  border-color: #a20303;
  border-radius: 4px;
}

.default:hover {
  color: white;

  background: #0289f7;
}

.red:hover {
  color: white;

  background: #ff4040;
}

.secondary:hover {
  color: #0206f7;

  background: #3bd3fa;
}

.default:active {
  color: white;

  background: #0206f7;
  border-color: #0206f7;
  /*background: #0206f7;*/
  /*color: #99ff99;*/
  /*outline: none;*/
  border-radius: 4px;
}

.secondary:active {
  color: #0206f7;

  background: white;
  border-color: #0206f7;
  border-radius: 4px;
}

.red:active {
  color: white;

  background: #a20303;
  border-color: #a20303;
  border-radius: 4px;
}

.button:disabled {
}

/*@keyframes blink {*/
/*    0% {*/
/*        left: -130%;*/
/*    }*/
/*    100% {*/
/*        left: 130%;*/
/*    }*/
/*}*/

/*.button {*/
/*    position: relative;*/
/*    margin: 10px;*/
/*    overflow: hidden;*/
/*    cursor: pointer;*/
/*}*/

/*.button::after {*/
/*    display: block;*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: -130%;*/
/*    top: 0;*/
/*    height: 100%;*/
/*    width: 20%;*/
/*    transform: skew(25deg);*/
/*    background-color: white;*/
/*    opacity: 0.7;*/
/*    z-index: 14;*/
/*}*/

/*.button:hover::after {*/
/*    animation: blink 1.75s ease;*/
/*}*/

/*.button:hover::before {*/
/*    display: block;*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: -100vw;*/
/*    top: 0;*/
/*    height: 100vh;*/
/*    width: 300vw;*/
/*    background-color: white;*/
/*    opacity: 0.2;*/
/*    z-index: 7;*/

/*}*/

/*.button:focus {*/
/*    outline: #99ff99 solid 1px;*/
/*}*/

/*.button:active {*/
/*    background: white;*/
/*}*/

/*.button:disabled {*/
/*    color: #003980;*/
/*    cursor: auto;*/
/*}*/

/*.button:disabled::after {*/
/*    z-index: -1;*/
/*}*/

/*.button:disabled::before {*/
/*    z-index: -1;*/
/*}*/
