.headerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 150px 0 150px;

  box-shadow: 0 15px 13px -10px rgba(34, 60, 80, 0.2);
}

.headerA {
  color: white;
  text-decoration: none;
}

.userDataContainer {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.userPhoto {
  display: flex;

  width: 50px;

  border-radius: 50%;
}

.userName {
  position: relative;
  left: -15px;

  font-size: 1.2rem;

  border: none;
  border-bottom: 1px dashed gray;
}

.headerContainer {
  position: relative;
  z-index: 5;
  top: 77px;
  left: 220px;
}

.headerArrow {
  position: relative;
  z-index: 10;
  top: -90px !important;
  left: 20px !important;
}

.closingContainer {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
