.headerBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 150px 0 150px;

  box-shadow: 0 15px 13px -10px rgba(34, 60, 80, 0.2);
}

.headerA {
  color: white;
  text-decoration: none;
}

.userDataContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.userPhoto {
  display: flex;
  width: 50px;
  border-radius: 50%;
}

.userName {
  position: relative;
  left: -15px;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px dashed gray;
}

.headerContainer {
  position: relative;
  left: 220px;
  top: 77px;
  z-index: 5;
}

.headerArrow {
  position: relative;
  top: -90px !important;
  left: 20px !important;
  z-index: 10;
}

.closingContainer {
  z-index: 4;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}
