.input:focus {
  border: chartreuse solid 2px;
  outline: none;
}

.input {
  display: flex;

  /* border-radius: 5px; */
  /*flex-direction: column;*/
  /*align-items: flex-end;*/
}

.inputWrapper {
  display: flex;
  flex-direction: column-reverse;

  width: 100%;
}

/*noinspection CssUnusedSymbol*/
.superInput {
  /* height: 21px; */

  color: black;

  background: white;
}

.errorInput {
  /* margin: 10px; */

  color: black;

  background: white;
  border: none;
  border-bottom: 2px solid red !important;
  /* border-radius: 5px; */
}

.errorInput:focus {
  border: none;
  border-bottom: 2px solid red;
}

.error {
  height: 21px;
  /* margin-left: 7px; */

  color: red;
}
