a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

.profileContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: #f9f9fa;
}

.backContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-size: 0.9rem;
  text-shadow: 5px 5px 5px #aaa;

  border-radius: 12px;
}

.PackNameContainer {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-c;

  width: 100%;
  min-height: 70px;
  max-height: 70px;

  font-size: 0.9rem;
}

.backContainer:hover {
  transform: scale(1.02);

  background-color: #eaeaea;

  transition: all 0.5s ease 0s;
}

.backArrow {
  width: 30px;
  padding: 15px 15px 15px 0;
}

.userNickName {
  position: relative;
  left: 10px;

  padding: 0 20px;

  font-size: 1.2rem;
  font-weight: 400;
}

.userPhotoContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  padding: 20px 0;
}

.userCameraContainer {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  background-color: #808080;
  border-radius: 50%;
}

.userCameraIcon {
  position: relative;

  width: 13px;

  fill: #fff;
}

.userPhoto {
  content: '';

  display: flex;

  min-width: 70px;
  max-width: 100px;
  min-height: 70px;
  max-height: 100px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.userEmail {
  padding: 30px 0;

  color: #b7b7b7;
}

.defaultInfo {
  font-size: 1.5rem;
  font-weight: 500;
}

.logOut {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  min-width: 100px;
  padding: 10px 10px 10px 5px;

  border: 1px solid #ebebec;
  border-radius: 45px;
  box-shadow: 0 0 8px #c3c3c3;
}

.logOut:hover {
  transform: scale(1.02);

  background-color: #eaeaea;

  transition: all 0.5s ease 0s;
}

.logOut:hover {
  transform: scale(1.02);

  background-color: #eaeaea;

  transition: all 0.5s ease 0s;
}

.logOutIcon {
  width: 25px;
  padding: 0 10px 0 0;
}

.pfofileInput {
  display: flex;
  align-items: center;
  justify-content: center;

  height: auto;
  padding-bottom: 10px;

  font-size: 1.2rem;

  background: none;
  border: none;
}

.pfofileInput:focus {
  position: relative;
  left: 7.5%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 85%;
  height: auto;
  padding-bottom: 10px;

  font-size: 1.2rem;

  background: none;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

.saveButton {
  position: relative;
  z-index: 700;
  top: 45px;
  left: 35%;

  opacity: 0;
}

.inputLabelStyle {
  position: relative;
  top: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 85%;

  font-size: 0.8rem;
  color: #b7b7b7;

  opacity: 0;
}

.inputContainer {
  position: relative;
  top: -25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 40px;
}

.newPackButton {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 170px;
  height: 40px;

  font-size: 1rem;
  color: #fff;

  background-color: #366eff !important;
  border: none;
  border-radius: 24px !important;
  box-shadow: 0 0 12px #818181;
}

.newPackButton:hover {
  transform: translateY(-1px);

  background-color: #2857ce !important;

  transition: 0.25s ease-in;
}

.inputLabelStyle.activeEditmode {
  opacity: 1;
}

.saveButton.activeEditmode {
  opacity: 1;
}

@media screen and (max-width: 1440px) {
  .backContainer {
    width: 65%;
  }
}

@media screen and (max-width: 1080px) {
  .saveButton {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 780px) {
  .backContainer {
    justify-content: flex-end;

    width: 100%;
    padding: 10px;

    font-size: 0.8rem;
  }

  .userPhotoContainer {
    padding: 10px 0;
  }

  .defaultInfo {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 620px) {
  .defaultInfo {
    font-size: 1rem;
    font-weight: 500;
  }

  .userEmail {
    padding: 10px 0;

    font-size: 0.8rem;
  }

  .userNickName {
    width: 100%;

    font-size: 1rem;
  }

  .logOut {
    font-size: 0.8rem;
  }

  .saveButton {
    top: 15px;
    transform: scale(0.7);
  }
}
