.option {
  cursor: pointer;

  width: 100%;
  min-height: 35px;
}

.option:hover {
  transform: translateX(2px);

  width: 100%;

  transition: all 0.2s ease-in;
  /* background: #c0c9cf; */
}

.scaledIcon svg {
  position: relative;
  top: 2px;
  transform: scale(1.2);
}

.fixedDesctiprion {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 60%;

  font-size: 1rem;
}
